@import '../../styles/sass/abstracts/mixins.scss';

.Header {
    @include flexBox-row-align-center;
    justify-content:space-between;

}

.Header-title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/52px var(--unnamed-font-family-sofia-pro);
    color: var(--unnamed-color-404d4d);
    text-align: left;
    font: normal normal bold 28px/52px Sofia Pro;
    letter-spacing: 1.02px;
    color: #404D4D;
    opacity: 1
}
.Header-content {
    width: 500px;
    @include flexBox-row-align-center;
    justify-content:space-between;
    
}

.Header-searchBar {
    
    width: 200px;
    height: 32px;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.8rem 1.5rem #0000001A;
    border-radius: 0.5rem;
    opacity: 1;
    @include flexBox-row-align-center;
    justify-content: space-around;
    & img {
        font-size: 10px;
        height: 10px
    }
}

.Header-searchInput {
    @include hidden-input-field;  
    width: 170px; 
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-sofia-pro);
    color: var(--unnamed-color-404d4d99);
    text-align: center;
    font: normal normal normal 12px/22px Sofia Pro;
    letter-spacing: 0.34px;
    color: #404D4D99;
    opacity: 1;
}

.Header-select {
    height: 32px;
}

.Header-button {
    @include flexBox-row-align-center;
    justify-content: space-evenly;
    width:70px;
    height:30px;
    //border-radius:8px;
    background: var(--unnamed-color-950e29) 0% 0% no-repeat padding-box;
    background: #950E29 0% 0% no-repeat padding-box;
    box-shadow: 7px 0px 20px #0000000D;
    border:none;
    border-radius: 8px;
    opacity: 1;
    color:white;


    & img {
        height:10px;
        width:10px;
        
    }

    & text {
        color:white;
    }
}