@import '../../styles/sass/abstracts/mixins.scss';


.topProductDetail {
    width: 100%;
    //@include flexBox-row-align-center;
    //justify-content: space-between;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr ;

  
    

   


    &-left {
        
        height: 60px;
        @include flexBox-row;
         
        &-image {
            height: 50px;
            width: 50px;
        }

        &-info {
            margin-left: 5%;
            @include flexBox-column;

            &-name {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/24px var(--unnamed-font-family-sofia-pro);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal medium 16px/24px Sofia Pro;
                letter-spacing: 0px;
                color: #404D4DB3;
                text-transform: capitalize;
                opacity: 1;
            }

            &-price {
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sofia-pro);
                letter-spacing: var(--unnamed-character-spacing-0);
                text-align: left;
                font: normal normal bold 16px/28px Sofia Pro;
                letter-spacing: 0px;
                color: #404D4DED;
                text-transform: capitalize;
                opacity: 1;
            }

        }
       
    }

    &-right {
        @include flexBox-column-align-center;

        &-info-sold {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/24px var(--unnamed-font-family-sofia-pro);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal medium 16px/24px Sofia Pro;
            letter-spacing: 0px;
            color: #404D4DB3;
            text-transform: capitalize;
            opacity: 1;
        }

        &-info-price {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sofia-pro);
            letter-spacing: var(--unnamed-character-spacing-0);
            text-align: left;
            font: normal normal bold 16px/28px Sofia Pro;
            letter-spacing: 0px;
            color: #404D4DED;
            text-transform: capitalize;
            opacity: 1;
        }

        
        
    }
} 

