@import '../../styles/sass/abstracts/mixins.scss';

.customerDetail {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 2%;

    &-header{
        @include flexBox-row-align-center;
        justify-content:space-between;

        & text {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 34px/39px var(--unnamed-font-family-sofia-pro);
            color: var(--unnamed-color-404d4d);
            text-align: left;
            font: normal normal bold 28px/39px Sofia Pro;
            letter-spacing: 1.02px;
            color: #404D4D;
        }
        & a {
            @include flexBox-row-align-center;
            justify-content: space-evenly;
            width: 100px;
            height: 42px;
            background: var(--unnamed-color-f6f6fb) 0% 0% no-repeat padding-box;
            background: #F6F6FB 0% 0% no-repeat padding-box;
            border: none;
            box-shadow: 7px 0px 20px #0000000D;
            border-radius: 15px;
            opacity: 1;
            font: normal normal bold 16px/28px Sofia Pro;
            letter-spacing: 0px;
            color: #404D4DED;
            text-transform: capitalize;
        }
    }

    &-main {
        margin-top: 3%;
        @include flexBox-row-align-center;
        justify-content:space-between;
        
        &-infocard {
            border-radius: 10px;
            height:442px;

            &-content {
                @include flexBox-column;
                justify-content:space-between;

                &-heading {
                    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 20px/31px var(--unnamed-font-family-sofia-pro);
                    letter-spacing: var(--unnamed-character-spacing-0);
                    color: var(--unnamed-color-404d4d);
                    text-align: left;
                    font: normal normal bold 16px/26px Sofia Pro;
                    letter-spacing: 0px;
                    color: #404D4D;
                    opacity: 1;
                }

                &-Info {
                    @include flexBox-row;
                    //justify-content:'space-between';

                    &-left {
                        @include flexBox-column;
                        width:50%;
                        margin-top: 15px;
                        margin-bottom:25px;


                        &-data {
                            @include flexBox-row;
                           // justify-content:space-between;

                            & text {
                                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-18)/27px var(--unnamed-font-family-sofia-pro);
                                text-align: left;
                                font: normal normal 300 16px/24px Sofia Pro;
                                letter-spacing: 0.24px;
                                color: #404D4DCC;
                                opacity: 1;
                                
                                
                            }

                            & p {
                                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sofia-pro);
                                color: var(--unnamed-color-404d4d);
                                text-align: left;
                                font: normal normal normal 16px/24px Sofia Pro;
                                letter-spacing: 0.54px;
                                color: #404D4D;
                                opacity: 1;
                                //padding-left: 20px;
                                
                                
                            }
                        } 
                    }

                    &-right {
                        @include flexBox-column;
                        margin-top: 15px;
                        margin-bottom:25px;
                        width: 50%;


                        &-data {
                            @include flexBox-row;

                            & text {
                                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-18)/27px var(--unnamed-font-family-sofia-pro);
                                text-align: left;
                                font: normal normal 300 16px/24px Sofia Pro;
                                letter-spacing: 0.24px;
                                color: #404D4DCC;
                                opacity: 1;
                                
                            }

                            & p {
                                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-sofia-pro);
                                color: var(--unnamed-color-404d4d);
                                text-align: left;
                                font: normal normal normal 16px/24px Sofia Pro;
                                letter-spacing: 0.54px;
                                color: #404D4D;
                                opacity: 1;
                                
                                
                            }
                        } 
                    }
                }

            }
        }

        &-profilecard{
            @include flexBox-column;
            //justify-content:space-evenly;
            height:440px;
            width: 327.69px;
            border-radius:10px;

            &-info {
                @include flexBox-column-align-center;
                justify-content:space-evenly;
                height:140px;
                //border-width: 327.69px;
                border-bottom: 1.8px solid #404D4D33;

                & img {
                    height:60px;
                    width:60px;
                }
                &-customerTag{
                    @include flexBox-column-align-center;
                    height:22px;
                    width:100px;
                    border: 1.5px solid var(--unnamed-color-404d4d99);
                    border: 2px solid #404D4D99;
                    border-radius: 16px;
                    opacity: 1;
                    & text {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/18px var(--unnamed-font-family-sofia-pro);
                        letter-spacing: var(--unnamed-character-spacing-0);
                        //text-align: center;
                        font: normal normal normal 10px/18px Sofia Pro;
                        letter-spacing: 0px;
                        color: #404D4DCC;
                        text-transform: uppercase;
                        opacity: 1;
                       
                    }
                }
                &-nameEmail {
                    @include flexBox-column-align-center;
                    & text {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-17)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-sofia-pro);
                        letter-spacing: var(--unnamed-character-spacing-0-51);
                        text-align: left;
                        font: normal normal medium 17px/26px Sofia Pro;
                        letter-spacing: 0.51px;
                        color: #404D4DE6;
                        opacity: 1;
                    }

                    & p {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) 14px/var(--unnamed-line-spacing-21) var(--unnamed-font-family-sofia-pro);
                        text-align: left;
                        font: normal normal 300 14px/21px Sofia Pro;
                        letter-spacing: 0.42px;
                        color: #404D4DCC;
                        opacity: 1;
                    }
                }
            }

            &-action {
                height:40px;
                //border-width: 337.69px;
                border-bottom: 1.8px solid #404D4D33;
                @include flexBox-row-align-center;
                justify-content:space-evenly;

            }
            &-stats {
                @include flexBox-row;
                justify-content:space-evenly;
                height:70px;
                border-bottom: 1.8px solid #404D4D33;
                &-content {
                    //height:100%;
                    @include flexBox-column-align-center;
                    justify-content: center;

                    & p {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-28)/var(--unnamed-line-spacing-43) var(--unnamed-font-family-sofia-pro);
                        letter-spacing: var(--unnamed-character-spacing-0-84);
                        color: var(--unnamed-color-404d4d);
                        text-align: left;
                        font: normal normal bold 28px/43px Sofia Pro;
                        letter-spacing: 0.84px;
                        color: #404D4D;
                        margin-top: 8px;;
                    }
                    & text {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-sofia-pro);
                        letter-spacing: var(--unnamed-character-spacing-0-45);
                        text-align: left;
                        font: normal normal normal 15px/23px Sofia Pro;
                        letter-spacing: 0.45px;
                        color: #404D4DB3;
                        text-transform: capitalize;
                        opacity: 1;
                        margin-top:-35px;
                    }
                }

            }

            &-userDetail {
                @include flexBox-row;
                justify-content: space-between;
                height:140px;
                width: 100%;
              

                &-left {
                    margin-top: 10px;
                    margin-left: 20px;
                    @include flexBox-column;
                    justify-content: space-evenly;
                   
                }
                &-right {
                    margin-top: 10px;
                    margin-right: 20px;
                    @include flexBox-column;
                    justify-content: space-evenly;
                   
                }

                &-content {

                    & text {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-16)/24px var(--unnamed-font-family-sofia-pro);
                        letter-spacing: var(--unnamed-character-spacing-0-48);
                        text-align: left;
                        font: normal normal 300 14px/24px Sofia Pro;
                        //letter-spacing: 0.48px;
                        color: #404D4DCC;
                        opacity: 1;
                    }
    
                    & p {
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/22px var(--unnamed-font-family-sofia-pro);
                        color: var(--unnamed-color-404d4d);
                        text-align: left;
                        font: normal normal normal 12px/22px Sofia Pro;
                       //letter-spacing: 0.42px;
                        color: #404D4D;
                        opacity: 1;
                    }
                }

                

               
            }
        }

    }
}